form {
    width: 30%;
    background: #F8FAFC
}
.group {
    position: relative;
}
.form {
   /* position: absolute;
    left: 50%;
  transform: translateX(-50%);
  width: 50%; */
    
}
.form-control { /* Chrome, Firefox, Opera, Safari 10.1+ */
    background:linear-gradient(rgba(225,255,255,0.1),rgba(255,255,255,0.1));
}
.form-control:focus { /* Chrome, Firefox, Opera, Safari 10.1+ */
    background:linear-gradient(rgba(225,255,255,0.1),rgba(255,255,255,0.1));
}
textarea {
    resize: none;
    overflow: auto;
}
.name, .email, .message  {
    display: none
}
@media(max-width: 800px) {
    form {
        width: 80%
    }
}
@media(max-width: 500px) {
    form {
        width: 100%
    }
}